body {
    /* background-image: url(../assets/image/pianos2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; */
    /* background-color: gray; */
    
    
}

.back {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    opacity: 0.7;
    background-color: black;
}

.intro {
    text-align: center;
    padding: 20%;
    color: #FFD3E8;
     text-shadow: 2px 2px black; 
}

h1 {
    font-size: 40px;
}

.name, .job {
    font-size: 30px; 
    font-weight: bold;
    
}

.name {
    font-size: 60px;
    font-weight: bold;
    color: var(--teal);
}

