body {
    background-image: url(../assets/image/pianos2.jpg);
    background-repeat: no-repeat;
    background-color: gray;
    
}

.intro {
    text-align: center;
    padding: 20%;
    color: #FFD3E8;
     text-shadow: 2px 2px black; 
}

h1 {
    font-size: 40px;
}

.name, .job {
    font-size: 30px; 
    font-weight: bold;
    
}

.name {
    font-size: 60px;
    font-weight: bold;
    color: var(--teal);
}

