
.navbar {
    background-color: black;
}

.navbar-brand {
    color: #03B5AA;
    border: solid 1px #FFD3E8;
    padding: 5px;
}

.navbar-brand:hover {
    color: #FFD3E8;
}

.nav-link {
    color: #FFD3E8;
    border: solid 1px #03B5AA;
}

.nav-link:hover {
    color: #03B5AA;
}

.dropdown-item {
    color: #03B5AA;
}




