:root {
    --teal: #03B5AA;
    --pink: #FFD3E8;
    --hotPink: #D81E5B;
    --purple: #710AD0;
    --yellow: #FFFF54;
    --green: #0AD200;
    --brown: #2A1010;
    --deepRed: #4B0000;
    --blue: #180668;
    --lightPurple: #B966E7;
}