 .work {
  /* margin-top: 2%;   */
} 

#project {
    /* background-image: url('../assets/image/photo-1526376098291-1d02e8bb6d11.jpg') */
}

.this {
    margin-top: 2%;
    /* margin-left: 3px;
    margin-right: 3px;*/
} 

.cards {
    /* Add shadows to create the "card" effect */
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    /* transition: 0.3s; */
    /* background-color: white; */
}

/* On mouse-over, add a deeper shadow */
/* .cards:hover {
    box-shadow: 10px 10px 20px 10px rgba(0,0,0,0.2);
} */

